@font-face {
  font-family: "Tanker";
  src: url("/fonts/Tanker-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Impact";
  src: url("/fonts/impact.ttf") format("truetype");
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #b4b4b4;
}

.title {
  flex: 2;
  font-size: 6rem;
  color: white;
  font-family: "Impact";
  writing-mode: vertical-rl;
  line-height: 6rem;
}

.mainText {
  font-family: "Tanker";
  font-size: 1.4rem;
  color: white;
  transform: translate(0, -1.5rem); /* to align it with the top */
}

/* TEXT FOR THE DISPLAY APP function */

.titleWhite {
  font-family: "Tanker";
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  color: white;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}

.titleBlack {
  font-family: "Tanker";
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  margin-left: auto;
  margin-right: 1rem;
}
